<ion-view view-title="Log In">
	<ion-content class="padding">
		<div class="row">
		  <div class="col col-50 col-offset-25">
		  	<img class="avatar-ud" ng-src="img/fred.jpg">
		  </div>
		</div>	
		<ion-list>		  
		  <ion-item class="item-input item-floating-label">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="Username" ng-model="user.username">
		  </ion-item>
		  <ion-item class="item-input item-floating-label">
		  	<span class="input-label">Password</span>
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </ion-item>
		</ion-list>
		<button class="button button-full button-balanced" ng-click="login()">
			Log In
		</button>
		<a class="button button-small button-full" href="#/reset">
			Forgot Password?
		</a>
	</ion-content>
	<ion-footer-bar class="bar bar-balanced">
		<div class="button-bar">
		  <a class="button button-clear" href="#/signup">
		  	Don't have an account?
		  </a>
		</div>
	</ion-footer-bar>
</ion-view>