<ion-view view-title="Password Reset">
	<ion-content class="padding">
		<div class="row">
		  <div class="col col-50 col-offset-25">
		  	<img class="avatar-ud" ng-src="img/pulp.jpg">
		  </div>
		</div>
		<p class="row">
			Enter the email address associated with your account.
			An email with instructions for resetting your
			password will be sent to you.
		</p>
		<ion-list>
		  <ion-item class="item-input item-floating-label">
		  	<span class="input-label">Email</span>
		    <input type="email" placeholder="Email" ng-model="user.email">
		  </ion-item>
		</ion-list>
		<a class="button button-full button-balanced" ng-click="send()">
			Send
		</a>
	</ion-content>
</ion-view>