<ion-view view-title="Sign Up">
	<ion-content class="padding">
		<div class="row">
		  <div class="col col-50 col-offset-25">
		  	<img class="avatar-ud" ng-src="img/dawg.jpg">
		  </div>
		</div>	
		<ion-list>
		  <ion-item class="item-input item-floating-label">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="Username" ng-model="user.username">
		  </ion-item>
		  <ion-item class="item-input item-floating-label">
		  	<span class="input-label">Email</span>
		    <input type="email" placeholder="Email" ng-model="user.email">
		  </ion-item>
		  <ion-item class="item-input item-floating-label">
		  	<span class="input-label">Password</span>
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </ion-item>
		  <ion-item class="item-input item-floating-label">
		  	<span class="input-label">Re-Enter Password</span>
		    <input type="password" placeholder="Re-Enter Password" ng-model="user.rePassword">
		  </ion-item>
		</ion-list>
		<button class="button button-full button-balanced" ng-click="signup()">
			Sign Up
		</button>
	</ion-content>
	<ion-footer-bar class="bar bar-balanced">
		<div class="button-bar">
		  <a class="button button-clear" href="#/login">
		  	Already have an account?
		  </a>
		</div>
	</ion-footer-bar>
</ion-view>