<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Find Tab -->
  <ion-tab title="Near Me" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/find">
    <ion-nav-view name="tab-find"></ion-nav-view>
  </ion-tab>

  <!-- Cached Tab -->
  <ion-tab title="Cached" icon-off="ion-android-archive" icon-on="ion-android-archive" href="#/tab/cached">
    <ion-nav-view name="tab-cached"></ion-nav-view>
  </ion-tab>

    <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-person" icon-on="ion-person" href="#/tab/me">
    <ion-nav-view name="tab-me"></ion-nav-view>
  </ion-tab>
</ion-tabs>
