<ion-view view-title="Cached">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="drop in drops" type="item-text-wrap" href="#/tab/cached/{{drop.id}}">
        <img ng-src="img/ionic.png">
        <h2>{{drop.title}}</h2>
        <p>by: {{drop.owner}}</p>
        <p>added: 9000 years ago</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(drop)">
          Remove
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-balanced">
    <div class="button-bar">
      <a class="button button-clear" ui-sref="create" ui-sref-opts="{reload:true}">
        Place a drop here!
      </a>
    </div>
  </ion-footer-bar>
</ion-view>