<ion-view view-title="Near Me">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right"
                ng-class="{'item-energized': drop.unlocked}"
                ng-repeat="drop in drops" type="item-text-wrap" href="#/tab/find/{{drop.id}}">
        <img ng-src="img/ionic.png">
        <h2>{{drop.title}}</h2>
        <p>by: {{drop.owner.username}}</p>
        <p>{{drop.milesTo | approx}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced" ng-show="drop.unlocked">
          View
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar bar-balanced">
    <div class="button-bar">
      <a class="button button-clear" ui-sref="create">
        Place a drop here!
      </a>
    </div>
  </ion-footer-bar>
</ion-view>