<ion-view view-title="{{title}}">
	<ion-nav-buttons side="right">
  		<!-- only applies if in tab.me state -->	
  		<!-- ng-if doesnt seem to work for ion-nav-buttons directive -->
  		<div ng-if="belongsToCurrentUser">
		    <button class="button button-clear button-positive" ng-click="done()" ng-if="modify">
		    	Done
		    </button>
		    <button class="button button-clear button-positive" ng-click="edit()" ng-if="!modify">
		    	Edit
		    </button>
		</div>
	</ion-nav-buttons>
	<ion-content class="padding">
		<!-- CREATE AND EDIT -->
		<ion-list ng-if="modify">
		  <ion-item class="item-input item-stacked-label">
		    <span class="input-label">Text</span>
		    <textarea type="text" placeholder="A message perhaps?" ng-model="item.text"></textarea>
		  </ion-item>
		  <ion-item class="item-input item-stacked-label">
		  	<span class="input-label">Attachment (Coming Soon)</span>
		  </ion-item>
		</ion-list>
		<!-- VIEW ONLY -->
		<ion-list ng-if="!modify">
		  <ion-item class="item-text-wrap">
		  	<h3>Text</h3>
		  	<p>{{item.text}}</p>
		  </ion-item>
		  <ion-item class=>
			<h3>Attachment (Coming Soon)</h3>
		  </ion-item>
		</ion-list>
	</ion-content>
</ion-view>