<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">
  	<!-- only applies if in tab.me state -->
  	<!-- ng-if doesnt seem to work for ion-nav-buttons directive -->
  	<div ng-if="belongsToCurrentUser">
	    <button class="button button-clear button-positive" ng-if="!modify" ng-click="edit()">
	    	Edit
	    </button>
	    <button class="button button-clear button-positive" ng-if="modify" ng-click="save()">
	    	Save
	    </button>
	</div>
  </ion-nav-buttons>
  <ion-content class="padding">
  	<!-- CREATE AND EDIT FORM -->
	<ion-list ng-if="modify">
	  <ion-item class="item-divider">
		Details
	  </ion-item>	
	  <ion-item class="item-input item-stacked-label">
	    <span class="input-label">Title</span>
	    <input type="text" placeholder="My New Drop" ng-model="drop.title">
	  </ion-item>
	  <ion-item class="item-input item-stacked-label">
	  	<span class="input-label">Description</span>
	    <textarea placeholder="This drop is lit af." ng-model="drop.description"></textarea>
	  </ion-item>
	</ion-list>
	<!-- VIEW ONLY -->
	<ion-list ng-if="!modify">
	  <ion-item class="item-divider">
		Details
	  </ion-item>
	  <ion-item>
	  	<h3>Title</h3>
	  	<p>{{drop.title}}</p>
	  </ion-item>
	  <ion-item class=>
		<h3>Description</h3>
		<p>{{drop.description}}</p>
	  </ion-item>
	  <ion-item>
		<h3>Owner</h3>
		<p>{{drop.owner.username}}</p>
	  </ion-item>
	  <ion-item>
		<h3>Last Updated</h3>
		<p>{{drop.updatedAt}}</p>
	  </ion-item>
	</ion-list>
	<!-- CONTENT LIST -->
    <ion-list>
      <ion-item class="item-divider">
      	Content
		<a ui-sref=".content" class="item-icon-right">
		    <i class="icon ion-plus-circled"></i>
		</a>
  	  </ion-item>
       <ion-item class="item-icon-right" ng-repeat="item in drop.content" ng-click="showContent(item)">
        <p>{{item.text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar ng-if="mode=='CREATE' || fresh" class="bar bar-stable" ng-class="{'bar-balanced':fresh}">
    <div class="button-bar">
      <a ng-if="!fresh" class="button button-clear" ui-sref="tab.find">
        <div>Nevermind. Back to dashboard.</div>
      </a>
      <a ng-if="fresh" class="button button-clear" ui-sref="tab.me({reload: true})">
        <div>Back to dashboard.</div>
      </a>
    </div>
  </ion-footer-bar>

</ion-view>