<ion-view view-title="@{{user.username}}">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-if="isCurrentUser" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="row col col-50 col-offset-25">
      <img class="avatar-ud" ng-src="img/high.jpg">
      <!-- img class="avatar-ud" ng-src="{{user.face}}" -->
    </div>
    
    <h3 class="row col title-ud">{{user.username}}</h3>
    
    <ion-list ng-if="isCurrentUser">
      <ion-item class="item-divider">
        My Drops
      </ion-item>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" 
                ng-repeat="drop in user.drops"
                ui-sref=".detail({dropId: drop.id})">
        <img ng-src="img/ionic.png">
        <h2>{{drop.title}}</h2>
        <p>by: {{drop.owner.username}}</p>
        <p>updated: {{drop.updatedAt}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="deleteDrop(drop)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>