/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.avatar-ud {
  border-radius: 50%;
  width: 100%;
}

.title-ud {
  text-align: center
}